/*css default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img,
object,
embed,
video,
iframe {
    max-width: 100%;
    height: auto;
}

input,
button {
    border: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-size: 62.5%;
    font-family: 'helvetica', sans-serif;
}

/*End css default*/

.app {
    margin: 0 auto;
    width: 50%;
}

.appEnter {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.appEnter h1 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}

.appEnter li {
    list-style: none;
    font-size: 18px;
    margin: 0 0 5px 0;
}

.appEnter a {
    font-size: 14px;
    margin: 0 0 0 5px;
    color: #c90;
}

.appEnter a:hover {
    color: blue;
    text-decoration: underline;
    transition: 0.3s;
}

.appCampos {
    width: 100%;
    margin-top: 10px;
    height: 30px;
}

.appCampos input {
    border-radius: 4px;
    border: solid 1px #c0c0c0;
    height: 100%;
    outline: none;
    padding: 0 0 0 10px;
}

.appCampos button {
    height: 27px;
    border-radius: 4px;
    border: none;
    padding: 0 20px 0 20px;
    height: 100%;
    background-color: #d0d0d0;
    cursor: pointer;
    outline: none;
}

.appCampos button:hover {
    background-color: #ededed;
    transition: 0.4s;
}